--
-- PostgreSQL database dump
--

\restrict vnfBGZdrx4WrS77HlPoBqbSBjgr2pTlu9bc8McgyYKRnamljTbi8GlW91nBNm28

-- Dumped from database version 16.15 (Debian 16.15-1.pgdg13+2)
-- Dumped by pg_dump version 16.15 (Debian 16.15-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: achat; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public.achat (
    id integer NOT NULL,
    fournisseur_id integer NOT NULL,
    date_achat timestamp without time zone DEFAULT now(),
    statut character varying(30) DEFAULT 'en_cours'::character varying,
    montant_total numeric(12,2) DEFAULT 0
);


ALTER TABLE public.achat OWNER TO erp_user;

--
-- Name: achat_id_seq; Type: SEQUENCE; Schema: public; Owner: erp_user
--

CREATE SEQUENCE public.achat_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.achat_id_seq OWNER TO erp_user;

--
-- Name: achat_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: erp_user
--

ALTER SEQUENCE public.achat_id_seq OWNED BY public.achat.id;


--
-- Name: bon_livraison; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public.bon_livraison (
    id integer NOT NULL,
    commande_id integer NOT NULL,
    numero character varying(50) NOT NULL,
    date_livraison timestamp without time zone DEFAULT now() NOT NULL,
    statut character varying(30) DEFAULT 'prepare'::character varying NOT NULL,
    adresse_livraison text,
    notes text,
    CONSTRAINT bl_statut_check CHECK (((statut)::text = ANY ((ARRAY['prepare'::character varying, 'expedie'::character varying, 'livre'::character varying, 'annule'::character varying])::text[])))
);


ALTER TABLE public.bon_livraison OWNER TO erp_user;

--
-- Name: bon_livraison_id_seq; Type: SEQUENCE; Schema: public; Owner: erp_user
--

CREATE SEQUENCE public.bon_livraison_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bon_livraison_id_seq OWNER TO erp_user;

--
-- Name: bon_livraison_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: erp_user
--

ALTER SEQUENCE public.bon_livraison_id_seq OWNED BY public.bon_livraison.id;


--
-- Name: client; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public.client (
    id integer NOT NULL,
    nom character varying(150) NOT NULL,
    email character varying(150),
    telephone character varying(30),
    adresse text
);


ALTER TABLE public.client OWNER TO erp_user;

--
-- Name: client_id_seq; Type: SEQUENCE; Schema: public; Owner: erp_user
--

CREATE SEQUENCE public.client_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.client_id_seq OWNER TO erp_user;

--
-- Name: client_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: erp_user
--

ALTER SEQUENCE public.client_id_seq OWNED BY public.client.id;


--
-- Name: commande; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public.commande (
    id integer NOT NULL,
    client_id integer NOT NULL,
    date_commande timestamp without time zone DEFAULT now(),
    statut character varying(30) DEFAULT 'en_cours'::character varying,
    montant_total numeric(12,2) DEFAULT 0,
    numero character varying(50),
    devis_id integer,
    notes text,
    date_modification timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.commande OWNER TO erp_user;

--
-- Name: commande_id_seq; Type: SEQUENCE; Schema: public; Owner: erp_user
--

CREATE SEQUENCE public.commande_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.commande_id_seq OWNER TO erp_user;

--
-- Name: commande_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: erp_user
--

ALTER SEQUENCE public.commande_id_seq OWNED BY public.commande.id;


--
-- Name: departement; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public.departement (
    id integer NOT NULL,
    nom character varying(100) NOT NULL
);


ALTER TABLE public.departement OWNER TO erp_user;

--
-- Name: departement_id_seq; Type: SEQUENCE; Schema: public; Owner: erp_user
--

CREATE SEQUENCE public.departement_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.departement_id_seq OWNER TO erp_user;

--
-- Name: departement_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: erp_user
--

ALTER SEQUENCE public.departement_id_seq OWNED BY public.departement.id;


--
-- Name: devis; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public.devis (
    id integer NOT NULL,
    client_id integer NOT NULL,
    numero character varying(50) NOT NULL,
    date_devis timestamp without time zone DEFAULT now() NOT NULL,
    date_validite date,
    statut character varying(30) DEFAULT 'brouillon'::character varying NOT NULL,
    montant_total numeric(12,2) DEFAULT 0 NOT NULL,
    notes text,
    date_creation timestamp without time zone DEFAULT now() NOT NULL,
    date_modification timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT devis_statut_check CHECK (((statut)::text = ANY ((ARRAY['brouillon'::character varying, 'envoye'::character varying, 'accepte'::character varying, 'refuse'::character varying, 'expire'::character varying, 'annule'::character varying])::text[])))
);


ALTER TABLE public.devis OWNER TO erp_user;

--
-- Name: devis_id_seq; Type: SEQUENCE; Schema: public; Owner: erp_user
--

CREATE SEQUENCE public.devis_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.devis_id_seq OWNER TO erp_user;

--
-- Name: devis_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: erp_user
--

ALTER SEQUENCE public.devis_id_seq OWNED BY public.devis.id;


--
-- Name: facture; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public.facture (
    id integer NOT NULL,
    commande_id integer,
    numero character varying(50) NOT NULL,
    date_facture timestamp without time zone DEFAULT now(),
    montant_total numeric(12,2) NOT NULL,
    statut character varying(30) DEFAULT 'impayee'::character varying,
    code_verification character varying(64),
    qr_code text
);


ALTER TABLE public.facture OWNER TO erp_user;

--
-- Name: facture_id_seq; Type: SEQUENCE; Schema: public; Owner: erp_user
--

CREATE SEQUENCE public.facture_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.facture_id_seq OWNER TO erp_user;

--
-- Name: facture_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: erp_user
--

ALTER SEQUENCE public.facture_id_seq OWNED BY public.facture.id;


--
-- Name: fournisseur; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public.fournisseur (
    id integer NOT NULL,
    nom character varying(150) NOT NULL,
    email character varying(150),
    telephone character varying(30),
    adresse text
);


ALTER TABLE public.fournisseur OWNER TO erp_user;

--
-- Name: fournisseur_id_seq; Type: SEQUENCE; Schema: public; Owner: erp_user
--

CREATE SEQUENCE public.fournisseur_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fournisseur_id_seq OWNER TO erp_user;

--
-- Name: fournisseur_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: erp_user
--

ALTER SEQUENCE public.fournisseur_id_seq OWNED BY public.fournisseur.id;


--
-- Name: ligne_achat; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public.ligne_achat (
    id integer NOT NULL,
    achat_id integer NOT NULL,
    produit_id integer NOT NULL,
    quantite integer NOT NULL,
    prix_unitaire numeric(10,2) NOT NULL
);


ALTER TABLE public.ligne_achat OWNER TO erp_user;

--
-- Name: ligne_achat_id_seq; Type: SEQUENCE; Schema: public; Owner: erp_user
--

CREATE SEQUENCE public.ligne_achat_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ligne_achat_id_seq OWNER TO erp_user;

--
-- Name: ligne_achat_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: erp_user
--

ALTER SEQUENCE public.ligne_achat_id_seq OWNED BY public.ligne_achat.id;


--
-- Name: ligne_bon_livraison; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public.ligne_bon_livraison (
    id integer NOT NULL,
    bon_livraison_id integer NOT NULL,
    produit_id integer NOT NULL,
    quantite integer NOT NULL,
    CONSTRAINT ligne_bon_livraison_quantite_check CHECK ((quantite > 0))
);


ALTER TABLE public.ligne_bon_livraison OWNER TO erp_user;

--
-- Name: ligne_bon_livraison_id_seq; Type: SEQUENCE; Schema: public; Owner: erp_user
--

CREATE SEQUENCE public.ligne_bon_livraison_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ligne_bon_livraison_id_seq OWNER TO erp_user;

--
-- Name: ligne_bon_livraison_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: erp_user
--

ALTER SEQUENCE public.ligne_bon_livraison_id_seq OWNED BY public.ligne_bon_livraison.id;


--
-- Name: ligne_commande; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public.ligne_commande (
    id integer NOT NULL,
    commande_id integer NOT NULL,
    produit_id integer NOT NULL,
    quantite integer NOT NULL,
    prix_unitaire numeric(10,2) NOT NULL,
    remise_pct numeric(5,2) DEFAULT 0 NOT NULL
);


ALTER TABLE public.ligne_commande OWNER TO erp_user;

--
-- Name: ligne_commande_id_seq; Type: SEQUENCE; Schema: public; Owner: erp_user
--

CREATE SEQUENCE public.ligne_commande_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ligne_commande_id_seq OWNER TO erp_user;

--
-- Name: ligne_commande_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: erp_user
--

ALTER SEQUENCE public.ligne_commande_id_seq OWNED BY public.ligne_commande.id;


--
-- Name: ligne_devis; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public.ligne_devis (
    id integer NOT NULL,
    devis_id integer NOT NULL,
    produit_id integer NOT NULL,
    quantite integer NOT NULL,
    prix_unitaire numeric(10,2) NOT NULL,
    remise_pct numeric(5,2) DEFAULT 0 NOT NULL,
    CONSTRAINT ligne_devis_prix_unitaire_check CHECK ((prix_unitaire >= (0)::numeric)),
    CONSTRAINT ligne_devis_quantite_check CHECK ((quantite > 0)),
    CONSTRAINT ligne_devis_remise_pct_check CHECK (((remise_pct >= (0)::numeric) AND (remise_pct <= (100)::numeric)))
);


ALTER TABLE public.ligne_devis OWNER TO erp_user;

--
-- Name: ligne_devis_id_seq; Type: SEQUENCE; Schema: public; Owner: erp_user
--

CREATE SEQUENCE public.ligne_devis_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ligne_devis_id_seq OWNER TO erp_user;

--
-- Name: ligne_devis_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: erp_user
--

ALTER SEQUENCE public.ligne_devis_id_seq OWNED BY public.ligne_devis.id;


--
-- Name: ligne_facture; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public.ligne_facture (
    id integer NOT NULL,
    facture_id integer NOT NULL,
    produit_id integer NOT NULL,
    designation character varying(150) NOT NULL,
    quantite integer NOT NULL,
    prix_unitaire numeric(10,2) NOT NULL,
    remise_pct numeric(5,2) DEFAULT 0 NOT NULL,
    CONSTRAINT ligne_facture_prix_unitaire_check CHECK ((prix_unitaire >= (0)::numeric)),
    CONSTRAINT ligne_facture_quantite_check CHECK ((quantite > 0)),
    CONSTRAINT ligne_facture_remise_pct_check CHECK (((remise_pct >= (0)::numeric) AND (remise_pct <= (100)::numeric)))
);


ALTER TABLE public.ligne_facture OWNER TO erp_user;

--
-- Name: ligne_facture_id_seq; Type: SEQUENCE; Schema: public; Owner: erp_user
--

CREATE SEQUENCE public.ligne_facture_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ligne_facture_id_seq OWNER TO erp_user;

--
-- Name: ligne_facture_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: erp_user
--

ALTER SEQUENCE public.ligne_facture_id_seq OWNED BY public.ligne_facture.id;


--
-- Name: mouvement_stock; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public.mouvement_stock (
    id integer NOT NULL,
    produit_id integer NOT NULL,
    type_mouvement character varying(20) NOT NULL,
    quantite integer NOT NULL,
    date_mouvement timestamp without time zone DEFAULT now(),
    reference_doc character varying(100)
);


ALTER TABLE public.mouvement_stock OWNER TO erp_user;

--
-- Name: mouvement_stock_id_seq; Type: SEQUENCE; Schema: public; Owner: erp_user
--

CREATE SEQUENCE public.mouvement_stock_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.mouvement_stock_id_seq OWNER TO erp_user;

--
-- Name: mouvement_stock_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: erp_user
--

ALTER SEQUENCE public.mouvement_stock_id_seq OWNED BY public.mouvement_stock.id;


--
-- Name: paiement; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public.paiement (
    id integer NOT NULL,
    facture_id integer NOT NULL,
    date_paiement timestamp without time zone DEFAULT now(),
    montant numeric(12,2) NOT NULL,
    methode character varying(50)
);


ALTER TABLE public.paiement OWNER TO erp_user;

--
-- Name: paiement_id_seq; Type: SEQUENCE; Schema: public; Owner: erp_user
--

CREATE SEQUENCE public.paiement_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.paiement_id_seq OWNER TO erp_user;

--
-- Name: paiement_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: erp_user
--

ALTER SEQUENCE public.paiement_id_seq OWNED BY public.paiement.id;


--
-- Name: permission; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public.permission (
    id integer NOT NULL,
    module character varying(50) NOT NULL,
    action character varying(50) NOT NULL
);


ALTER TABLE public.permission OWNER TO erp_user;

--
-- Name: permission_id_seq; Type: SEQUENCE; Schema: public; Owner: erp_user
--

CREATE SEQUENCE public.permission_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.permission_id_seq OWNER TO erp_user;

--
-- Name: permission_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: erp_user
--

ALTER SEQUENCE public.permission_id_seq OWNED BY public.permission.id;


--
-- Name: produit; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public.produit (
    id integer NOT NULL,
    reference character varying(50) NOT NULL,
    nom character varying(150) NOT NULL,
    categorie character varying(100),
    prix_unitaire numeric(10,2) NOT NULL,
    stock_actuel integer DEFAULT 0
);


ALTER TABLE public.produit OWNER TO erp_user;

--
-- Name: produit_id_seq; Type: SEQUENCE; Schema: public; Owner: erp_user
--

CREATE SEQUENCE public.produit_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.produit_id_seq OWNER TO erp_user;

--
-- Name: produit_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: erp_user
--

ALTER SEQUENCE public.produit_id_seq OWNED BY public.produit.id;


--
-- Name: role; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public.role (
    id integer NOT NULL,
    nom character varying(50) NOT NULL,
    description text
);


ALTER TABLE public.role OWNER TO erp_user;

--
-- Name: role_id_seq; Type: SEQUENCE; Schema: public; Owner: erp_user
--

CREATE SEQUENCE public.role_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.role_id_seq OWNER TO erp_user;

--
-- Name: role_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: erp_user
--

ALTER SEQUENCE public.role_id_seq OWNED BY public.role.id;


--
-- Name: role_permission; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public.role_permission (
    role_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.role_permission OWNER TO erp_user;

--
-- Name: seq_bl_numero; Type: SEQUENCE; Schema: public; Owner: erp_user
--

CREATE SEQUENCE public.seq_bl_numero
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.seq_bl_numero OWNER TO erp_user;

--
-- Name: seq_commande_numero; Type: SEQUENCE; Schema: public; Owner: erp_user
--

CREATE SEQUENCE public.seq_commande_numero
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.seq_commande_numero OWNER TO erp_user;

--
-- Name: seq_devis_numero; Type: SEQUENCE; Schema: public; Owner: erp_user
--

CREATE SEQUENCE public.seq_devis_numero
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.seq_devis_numero OWNER TO erp_user;

--
-- Name: seq_facture_numero; Type: SEQUENCE; Schema: public; Owner: erp_user
--

CREATE SEQUENCE public.seq_facture_numero
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.seq_facture_numero OWNER TO erp_user;

--
-- Name: utilisateur; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public.utilisateur (
    id integer NOT NULL,
    nom character varying(100) NOT NULL,
    prenom character varying(100) NOT NULL,
    email character varying(150) NOT NULL,
    mot_de_passe character varying(255) NOT NULL,
    role_id integer,
    departement_id integer,
    actif boolean DEFAULT true,
    date_creation timestamp without time zone DEFAULT now()
);


ALTER TABLE public.utilisateur OWNER TO erp_user;

--
-- Name: utilisateur_externe; Type: TABLE; Schema: public; Owner: erp_user
--

CREATE TABLE public.utilisateur_externe (
    id integer NOT NULL,
    client_id integer NOT NULL,
    email character varying(150) NOT NULL,
    mot_de_passe character varying(255) NOT NULL,
    actif boolean DEFAULT true,
    mot_de_passe_a_changer boolean DEFAULT true,
    date_creation timestamp without time zone DEFAULT now()
);


ALTER TABLE public.utilisateur_externe OWNER TO erp_user;

--
-- Name: utilisateur_externe_id_seq; Type: SEQUENCE; Schema: public; Owner: erp_user
--

CREATE SEQUENCE public.utilisateur_externe_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.utilisateur_externe_id_seq OWNER TO erp_user;

--
-- Name: utilisateur_externe_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: erp_user
--

ALTER SEQUENCE public.utilisateur_externe_id_seq OWNED BY public.utilisateur_externe.id;


--
-- Name: utilisateur_id_seq; Type: SEQUENCE; Schema: public; Owner: erp_user
--

CREATE SEQUENCE public.utilisateur_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.utilisateur_id_seq OWNER TO erp_user;

--
-- Name: utilisateur_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: erp_user
--

ALTER SEQUENCE public.utilisateur_id_seq OWNED BY public.utilisateur.id;


--
-- Name: achat id; Type: DEFAULT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.achat ALTER COLUMN id SET DEFAULT nextval('public.achat_id_seq'::regclass);


--
-- Name: bon_livraison id; Type: DEFAULT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.bon_livraison ALTER COLUMN id SET DEFAULT nextval('public.bon_livraison_id_seq'::regclass);


--
-- Name: client id; Type: DEFAULT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.client ALTER COLUMN id SET DEFAULT nextval('public.client_id_seq'::regclass);


--
-- Name: commande id; Type: DEFAULT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.commande ALTER COLUMN id SET DEFAULT nextval('public.commande_id_seq'::regclass);


--
-- Name: departement id; Type: DEFAULT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.departement ALTER COLUMN id SET DEFAULT nextval('public.departement_id_seq'::regclass);


--
-- Name: devis id; Type: DEFAULT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.devis ALTER COLUMN id SET DEFAULT nextval('public.devis_id_seq'::regclass);


--
-- Name: facture id; Type: DEFAULT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.facture ALTER COLUMN id SET DEFAULT nextval('public.facture_id_seq'::regclass);


--
-- Name: fournisseur id; Type: DEFAULT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.fournisseur ALTER COLUMN id SET DEFAULT nextval('public.fournisseur_id_seq'::regclass);


--
-- Name: ligne_achat id; Type: DEFAULT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.ligne_achat ALTER COLUMN id SET DEFAULT nextval('public.ligne_achat_id_seq'::regclass);


--
-- Name: ligne_bon_livraison id; Type: DEFAULT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.ligne_bon_livraison ALTER COLUMN id SET DEFAULT nextval('public.ligne_bon_livraison_id_seq'::regclass);


--
-- Name: ligne_commande id; Type: DEFAULT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.ligne_commande ALTER COLUMN id SET DEFAULT nextval('public.ligne_commande_id_seq'::regclass);


--
-- Name: ligne_devis id; Type: DEFAULT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.ligne_devis ALTER COLUMN id SET DEFAULT nextval('public.ligne_devis_id_seq'::regclass);


--
-- Name: ligne_facture id; Type: DEFAULT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.ligne_facture ALTER COLUMN id SET DEFAULT nextval('public.ligne_facture_id_seq'::regclass);


--
-- Name: mouvement_stock id; Type: DEFAULT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.mouvement_stock ALTER COLUMN id SET DEFAULT nextval('public.mouvement_stock_id_seq'::regclass);


--
-- Name: paiement id; Type: DEFAULT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.paiement ALTER COLUMN id SET DEFAULT nextval('public.paiement_id_seq'::regclass);


--
-- Name: permission id; Type: DEFAULT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.permission ALTER COLUMN id SET DEFAULT nextval('public.permission_id_seq'::regclass);


--
-- Name: produit id; Type: DEFAULT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.produit ALTER COLUMN id SET DEFAULT nextval('public.produit_id_seq'::regclass);


--
-- Name: role id; Type: DEFAULT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.role ALTER COLUMN id SET DEFAULT nextval('public.role_id_seq'::regclass);


--
-- Name: utilisateur id; Type: DEFAULT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.utilisateur ALTER COLUMN id SET DEFAULT nextval('public.utilisateur_id_seq'::regclass);


--
-- Name: utilisateur_externe id; Type: DEFAULT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.utilisateur_externe ALTER COLUMN id SET DEFAULT nextval('public.utilisateur_externe_id_seq'::regclass);


--
-- Data for Name: achat; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.achat (id, fournisseur_id, date_achat, statut, montant_total) FROM stdin;
\.


--
-- Data for Name: bon_livraison; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.bon_livraison (id, commande_id, numero, date_livraison, statut, adresse_livraison, notes) FROM stdin;
\.


--
-- Data for Name: client; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.client (id, nom, email, telephone, adresse) FROM stdin;
1	Safouate	\N	0643459447	\N
\.


--
-- Data for Name: commande; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.commande (id, client_id, date_commande, statut, montant_total, numero, devis_id, notes, date_modification) FROM stdin;
\.


--
-- Data for Name: departement; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.departement (id, nom) FROM stdin;
\.


--
-- Data for Name: devis; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.devis (id, client_id, numero, date_devis, date_validite, statut, montant_total, notes, date_creation, date_modification) FROM stdin;
\.


--
-- Data for Name: facture; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.facture (id, commande_id, numero, date_facture, montant_total, statut, code_verification, qr_code) FROM stdin;
\.


--
-- Data for Name: fournisseur; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.fournisseur (id, nom, email, telephone, adresse) FROM stdin;
\.


--
-- Data for Name: ligne_achat; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.ligne_achat (id, achat_id, produit_id, quantite, prix_unitaire) FROM stdin;
\.


--
-- Data for Name: ligne_bon_livraison; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.ligne_bon_livraison (id, bon_livraison_id, produit_id, quantite) FROM stdin;
\.


--
-- Data for Name: ligne_commande; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.ligne_commande (id, commande_id, produit_id, quantite, prix_unitaire, remise_pct) FROM stdin;
\.


--
-- Data for Name: ligne_devis; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.ligne_devis (id, devis_id, produit_id, quantite, prix_unitaire, remise_pct) FROM stdin;
\.


--
-- Data for Name: ligne_facture; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.ligne_facture (id, facture_id, produit_id, designation, quantite, prix_unitaire, remise_pct) FROM stdin;
\.


--
-- Data for Name: mouvement_stock; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.mouvement_stock (id, produit_id, type_mouvement, quantite, date_mouvement, reference_doc) FROM stdin;
\.


--
-- Data for Name: paiement; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.paiement (id, facture_id, date_paiement, montant, methode) FROM stdin;
\.


--
-- Data for Name: permission; Type: TABLE DATA; Schema: public; Owner: erp_user
--



--
-- Data for Name: produit; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.produit (id, reference, nom, categorie, prix_unitaire, stock_actuel) FROM stdin;
\.


--
-- Data for Name: role; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.role (id, nom, description) FROM stdin;
1	Admin	Administrateur de l'entreprise
2	Responsable des Stocks et Magasinier	R├®ceptions, mouvements de stock, inventaires et seuils d'alerte
3	Responsable Financier et Comptable	Comptabilit├®, tr├®sorerie, d├®clarations fiscales et ├®tats financiers
4	Responsable Achats	Fournisseurs, bons de commande et rapprochement des factures d'achat
5	Responsable Commercial	Prospection, devis, commandes, factures et suivi des r├¿glements
\.


--
-- Data for Name: role_permission; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.role_permission (role_id, permission_id) FROM stdin;
3	1
5	1
5	2
5	3
5	5
5	6
2	7
3	7
2	13
5	13
2	14
2	15
2	16
2	17
2	18
5	19
5	20
5	21
5	24
3	31
3	35
3	36
3	37
3	38
3	39
3	41
3	42
1	7
1	8
1	12
1	9
1	10
1	11
1	19
1	20
1	24
1	21
1	22
1	23
1	37
1	38
1	42
1	39
1	40
1	41
1	31
1	32
1	36
1	33
1	34
1	35
1	25
1	26
1	30
1	27
1	28
1	29
1	13
1	14
1	18
1	15
1	16
1	17
1	2
1	6
1	3
1	4
1	5
1	1
4	7
4	8
4	12
4	9
4	11
4	26
4	27
4	13
4	25
5	35
5	36
5	31
5	32
\.


--
-- Data for Name: utilisateur; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.utilisateur (id, nom, prenom, email, mot_de_passe, role_id, departement_id, actif, date_creation) FROM stdin;
1	Test	Societe	admin@societe-test.ma	$2b$12$yVIdHTFKD.oeAByeOlrC1uFMP1Y7YbGcXCDzeFE7tk1KFh3.pZZoe	1	\N	t	2026-09-18 02:52:31.302354
2	SAFOUATE	HAFSA	safouatehafsa6@gmail.com	$2b$12$XmzqPYcXD6RhJrWVRfkmPe4fyFN9VcR9T5fs6U7U2op0Bj59DxKaO	4	\N	t	2026-09-18 03:11:15.599032
\.


--
-- Data for Name: utilisateur_externe; Type: TABLE DATA; Schema: public; Owner: erp_user
--

COPY public.utilisateur_externe (id, client_id, email, mot_de_passe, actif, mot_de_passe_a_changer, date_creation) FROM stdin;
1	1	safouatehafsa6@gmail.com	$2b$12$H4QjYGfCA6.s8vCep8Dv0OuL0K229Mnji4.mUCQeUidV8XSI3Mgsa	t	t	2026-09-19 01:21:37.905098
\.


--
-- Name: achat_id_seq; Type: SEQUENCE SET; Schema: public; Owner: erp_user
--

SELECT pg_catalog.setval('public.achat_id_seq', 1, false);


--
-- Name: bon_livraison_id_seq; Type: SEQUENCE SET; Schema: public; Owner: erp_user
--

SELECT pg_catalog.setval('public.bon_livraison_id_seq', 1, false);


--
-- Name: client_id_seq; Type: SEQUENCE SET; Schema: public; Owner: erp_user
--

SELECT pg_catalog.setval('public.client_id_seq', 1, true);


--
-- Name: commande_id_seq; Type: SEQUENCE SET; Schema: public; Owner: erp_user
--

SELECT pg_catalog.setval('public.commande_id_seq', 1, false);


--
-- Name: departement_id_seq; Type: SEQUENCE SET; Schema: public; Owner: erp_user
--

SELECT pg_catalog.setval('public.departement_id_seq', 1, false);


--
-- Name: devis_id_seq; Type: SEQUENCE SET; Schema: public; Owner: erp_user
--

SELECT pg_catalog.setval('public.devis_id_seq', 1, false);


--
-- Name: facture_id_seq; Type: SEQUENCE SET; Schema: public; Owner: erp_user
--

SELECT pg_catalog.setval('public.facture_id_seq', 1, false);


--
-- Name: fournisseur_id_seq; Type: SEQUENCE SET; Schema: public; Owner: erp_user
--

SELECT pg_catalog.setval('public.fournisseur_id_seq', 1, false);


--
-- Name: ligne_achat_id_seq; Type: SEQUENCE SET; Schema: public; Owner: erp_user
--

SELECT pg_catalog.setval('public.ligne_achat_id_seq', 1, false);


--
-- Name: ligne_bon_livraison_id_seq; Type: SEQUENCE SET; Schema: public; Owner: erp_user
--

SELECT pg_catalog.setval('public.ligne_bon_livraison_id_seq', 1, false);


--
-- Name: ligne_commande_id_seq; Type: SEQUENCE SET; Schema: public; Owner: erp_user
--

SELECT pg_catalog.setval('public.ligne_commande_id_seq', 1, false);


--
-- Name: ligne_devis_id_seq; Type: SEQUENCE SET; Schema: public; Owner: erp_user
--

SELECT pg_catalog.setval('public.ligne_devis_id_seq', 1, false);


--
-- Name: ligne_facture_id_seq; Type: SEQUENCE SET; Schema: public; Owner: erp_user
--

SELECT pg_catalog.setval('public.ligne_facture_id_seq', 1, false);


--
-- Name: mouvement_stock_id_seq; Type: SEQUENCE SET; Schema: public; Owner: erp_user
--

SELECT pg_catalog.setval('public.mouvement_stock_id_seq', 1, false);


--
-- Name: paiement_id_seq; Type: SEQUENCE SET; Schema: public; Owner: erp_user
--

SELECT pg_catalog.setval('public.paiement_id_seq', 1, false);


--
-- Name: permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: erp_user
--

SELECT pg_catalog.setval('public.permission_id_seq', 42, true);


--
-- Name: produit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: erp_user
--

SELECT pg_catalog.setval('public.produit_id_seq', 1, false);


--
-- Name: role_id_seq; Type: SEQUENCE SET; Schema: public; Owner: erp_user
--

SELECT pg_catalog.setval('public.role_id_seq', 5, true);


--
-- Name: seq_bl_numero; Type: SEQUENCE SET; Schema: public; Owner: erp_user
--

SELECT pg_catalog.setval('public.seq_bl_numero', 1, false);


--
-- Name: seq_commande_numero; Type: SEQUENCE SET; Schema: public; Owner: erp_user
--

SELECT pg_catalog.setval('public.seq_commande_numero', 1, false);


--
-- Name: seq_devis_numero; Type: SEQUENCE SET; Schema: public; Owner: erp_user
--

SELECT pg_catalog.setval('public.seq_devis_numero', 1, false);


--
-- Name: seq_facture_numero; Type: SEQUENCE SET; Schema: public; Owner: erp_user
--

SELECT pg_catalog.setval('public.seq_facture_numero', 1, false);


--
-- Name: utilisateur_externe_id_seq; Type: SEQUENCE SET; Schema: public; Owner: erp_user
--

SELECT pg_catalog.setval('public.utilisateur_externe_id_seq', 1, true);


--
-- Name: utilisateur_id_seq; Type: SEQUENCE SET; Schema: public; Owner: erp_user
--

SELECT pg_catalog.setval('public.utilisateur_id_seq', 2, true);


--
-- Name: achat achat_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.achat
    ADD CONSTRAINT achat_pkey PRIMARY KEY (id);


--
-- Name: bon_livraison bon_livraison_numero_key; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.bon_livraison
    ADD CONSTRAINT bon_livraison_numero_key UNIQUE (numero);


--
-- Name: bon_livraison bon_livraison_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.bon_livraison
    ADD CONSTRAINT bon_livraison_pkey PRIMARY KEY (id);


--
-- Name: client client_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.client
    ADD CONSTRAINT client_pkey PRIMARY KEY (id);


--
-- Name: commande commande_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.commande
    ADD CONSTRAINT commande_pkey PRIMARY KEY (id);


--
-- Name: departement departement_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.departement
    ADD CONSTRAINT departement_pkey PRIMARY KEY (id);


--
-- Name: devis devis_numero_key; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.devis
    ADD CONSTRAINT devis_numero_key UNIQUE (numero);


--
-- Name: devis devis_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.devis
    ADD CONSTRAINT devis_pkey PRIMARY KEY (id);


--
-- Name: facture facture_code_verification_key; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.facture
    ADD CONSTRAINT facture_code_verification_key UNIQUE (code_verification);


--
-- Name: facture facture_numero_key; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.facture
    ADD CONSTRAINT facture_numero_key UNIQUE (numero);


--
-- Name: facture facture_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.facture
    ADD CONSTRAINT facture_pkey PRIMARY KEY (id);


--
-- Name: fournisseur fournisseur_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.fournisseur
    ADD CONSTRAINT fournisseur_pkey PRIMARY KEY (id);


--
-- Name: ligne_achat ligne_achat_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.ligne_achat
    ADD CONSTRAINT ligne_achat_pkey PRIMARY KEY (id);


--
-- Name: ligne_bon_livraison ligne_bon_livraison_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.ligne_bon_livraison
    ADD CONSTRAINT ligne_bon_livraison_pkey PRIMARY KEY (id);


--
-- Name: ligne_commande ligne_commande_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.ligne_commande
    ADD CONSTRAINT ligne_commande_pkey PRIMARY KEY (id);


--
-- Name: ligne_devis ligne_devis_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.ligne_devis
    ADD CONSTRAINT ligne_devis_pkey PRIMARY KEY (id);


--
-- Name: ligne_facture ligne_facture_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.ligne_facture
    ADD CONSTRAINT ligne_facture_pkey PRIMARY KEY (id);


--
-- Name: mouvement_stock mouvement_stock_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.mouvement_stock
    ADD CONSTRAINT mouvement_stock_pkey PRIMARY KEY (id);


--
-- Name: paiement paiement_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.paiement
    ADD CONSTRAINT paiement_pkey PRIMARY KEY (id);


--
-- Name: permission permission_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.permission
    ADD CONSTRAINT permission_pkey PRIMARY KEY (id);


--
-- Name: produit produit_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.produit
    ADD CONSTRAINT produit_pkey PRIMARY KEY (id);


--
-- Name: produit produit_reference_key; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.produit
    ADD CONSTRAINT produit_reference_key UNIQUE (reference);


--
-- Name: role role_nom_key; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.role
    ADD CONSTRAINT role_nom_key UNIQUE (nom);


--
-- Name: role_permission role_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.role_permission
    ADD CONSTRAINT role_permission_pkey PRIMARY KEY (role_id, permission_id);


--
-- Name: role role_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.role
    ADD CONSTRAINT role_pkey PRIMARY KEY (id);


--
-- Name: utilisateur utilisateur_email_key; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.utilisateur
    ADD CONSTRAINT utilisateur_email_key UNIQUE (email);


--
-- Name: utilisateur_externe utilisateur_externe_email_key; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.utilisateur_externe
    ADD CONSTRAINT utilisateur_externe_email_key UNIQUE (email);


--
-- Name: utilisateur_externe utilisateur_externe_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.utilisateur_externe
    ADD CONSTRAINT utilisateur_externe_pkey PRIMARY KEY (id);


--
-- Name: utilisateur utilisateur_pkey; Type: CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.utilisateur
    ADD CONSTRAINT utilisateur_pkey PRIMARY KEY (id);


--
-- Name: idx_utilisateur_externe_client; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE INDEX idx_utilisateur_externe_client ON public.utilisateur_externe USING btree (client_id);


--
-- Name: ix_bl_commande; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE INDEX ix_bl_commande ON public.bon_livraison USING btree (commande_id);


--
-- Name: ix_commande_client; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE INDEX ix_commande_client ON public.commande USING btree (client_id);


--
-- Name: ix_devis_client; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE INDEX ix_devis_client ON public.devis USING btree (client_id);


--
-- Name: ix_facture_commande; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE INDEX ix_facture_commande ON public.facture USING btree (commande_id);


--
-- Name: ux_commande_devis; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE UNIQUE INDEX ux_commande_devis ON public.commande USING btree (devis_id) WHERE (devis_id IS NOT NULL);


--
-- Name: ux_commande_numero; Type: INDEX; Schema: public; Owner: erp_user
--

CREATE UNIQUE INDEX ux_commande_numero ON public.commande USING btree (numero);


--
-- Name: achat achat_fournisseur_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.achat
    ADD CONSTRAINT achat_fournisseur_id_fkey FOREIGN KEY (fournisseur_id) REFERENCES public.fournisseur(id);


--
-- Name: bon_livraison bon_livraison_commande_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.bon_livraison
    ADD CONSTRAINT bon_livraison_commande_id_fkey FOREIGN KEY (commande_id) REFERENCES public.commande(id);


--
-- Name: commande commande_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.commande
    ADD CONSTRAINT commande_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.client(id);


--
-- Name: commande commande_devis_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.commande
    ADD CONSTRAINT commande_devis_id_fkey FOREIGN KEY (devis_id) REFERENCES public.devis(id);


--
-- Name: devis devis_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.devis
    ADD CONSTRAINT devis_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.client(id);


--
-- Name: facture facture_commande_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.facture
    ADD CONSTRAINT facture_commande_id_fkey FOREIGN KEY (commande_id) REFERENCES public.commande(id);


--
-- Name: ligne_achat ligne_achat_achat_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.ligne_achat
    ADD CONSTRAINT ligne_achat_achat_id_fkey FOREIGN KEY (achat_id) REFERENCES public.achat(id) ON DELETE CASCADE;


--
-- Name: ligne_achat ligne_achat_produit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.ligne_achat
    ADD CONSTRAINT ligne_achat_produit_id_fkey FOREIGN KEY (produit_id) REFERENCES public.produit(id);


--
-- Name: ligne_bon_livraison ligne_bon_livraison_bon_livraison_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.ligne_bon_livraison
    ADD CONSTRAINT ligne_bon_livraison_bon_livraison_id_fkey FOREIGN KEY (bon_livraison_id) REFERENCES public.bon_livraison(id) ON DELETE CASCADE;


--
-- Name: ligne_bon_livraison ligne_bon_livraison_produit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.ligne_bon_livraison
    ADD CONSTRAINT ligne_bon_livraison_produit_id_fkey FOREIGN KEY (produit_id) REFERENCES public.produit(id);


--
-- Name: ligne_commande ligne_commande_commande_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.ligne_commande
    ADD CONSTRAINT ligne_commande_commande_id_fkey FOREIGN KEY (commande_id) REFERENCES public.commande(id) ON DELETE CASCADE;


--
-- Name: ligne_commande ligne_commande_produit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.ligne_commande
    ADD CONSTRAINT ligne_commande_produit_id_fkey FOREIGN KEY (produit_id) REFERENCES public.produit(id);


--
-- Name: ligne_devis ligne_devis_devis_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.ligne_devis
    ADD CONSTRAINT ligne_devis_devis_id_fkey FOREIGN KEY (devis_id) REFERENCES public.devis(id) ON DELETE CASCADE;


--
-- Name: ligne_devis ligne_devis_produit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.ligne_devis
    ADD CONSTRAINT ligne_devis_produit_id_fkey FOREIGN KEY (produit_id) REFERENCES public.produit(id);


--
-- Name: ligne_facture ligne_facture_facture_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.ligne_facture
    ADD CONSTRAINT ligne_facture_facture_id_fkey FOREIGN KEY (facture_id) REFERENCES public.facture(id) ON DELETE CASCADE;


--
-- Name: ligne_facture ligne_facture_produit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.ligne_facture
    ADD CONSTRAINT ligne_facture_produit_id_fkey FOREIGN KEY (produit_id) REFERENCES public.produit(id);


--
-- Name: mouvement_stock mouvement_stock_produit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.mouvement_stock
    ADD CONSTRAINT mouvement_stock_produit_id_fkey FOREIGN KEY (produit_id) REFERENCES public.produit(id);


--
-- Name: paiement paiement_facture_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.paiement
    ADD CONSTRAINT paiement_facture_id_fkey FOREIGN KEY (facture_id) REFERENCES public.facture(id) ON DELETE CASCADE;


--
-- Name: role_permission role_permission_permission_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.role_permission
    ADD CONSTRAINT role_permission_permission_id_fkey FOREIGN KEY (permission_id) REFERENCES public.permission(id) ON DELETE CASCADE;


--
-- Name: role_permission role_permission_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.role_permission
    ADD CONSTRAINT role_permission_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.role(id) ON DELETE CASCADE;


--
-- Name: utilisateur utilisateur_departement_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.utilisateur
    ADD CONSTRAINT utilisateur_departement_id_fkey FOREIGN KEY (departement_id) REFERENCES public.departement(id);


--
-- Name: utilisateur_externe utilisateur_externe_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.utilisateur_externe
    ADD CONSTRAINT utilisateur_externe_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.client(id) ON DELETE CASCADE;


--
-- Name: utilisateur utilisateur_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: erp_user
--

ALTER TABLE ONLY public.utilisateur
    ADD CONSTRAINT utilisateur_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.role(id);


--
-- PostgreSQL database dump complete
--

\unrestrict vnfBGZdrx4WrS77HlPoBqbSBjgr2pTlu9bc8McgyYKRnamljTbi8GlW91nBNm28

